/*Initialize the website*/
html {width: 100%;
      height: 100%;
}
/*Set the cursor customizations*/
html {cursor: url("../img/cur/needle-default-6422.png"), default;
}
a, button, span {cursor: url("../img/cur/ophthalmoscope_642.png"), pointer;
}
.pointer  {cursor: url("../img/cur/ophthalmoscope_642.png"), pointer;
}
input, textarea {cursor: url("../img/cur/ophthalmoscope_64.png"), text;
}
.helpCursor {cursor: url("../img/cookie/cookie\ clicker\ help\ select.cur"), help;
}
.busyCursor {cursor: url("../img/cookie/cookie\ clicker\ busy.cur"), wait;
}
.unavailableCursor {cursor: url("../img/cookie/cookie\ clicker\ unavailable.cur"), not-allowed;
}

/* .trail {position: absolute;
        z-index: 99;
        top: -2px;
        left: -2px;
        width: 15px;
        height: 15px;
        background:rgb(0 100 20 / 50%);
        border-radius: 50%;
        pointer-events: none;
        transition: transform 0.1s ease-out;
} */


/*This is for the dinamic colored background*/
html {background: linear-gradient(-45deg, #ee7752, #e7dc3c, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;
    }
    50% {background-position: 100% 50%;
    }
    100% {background-position: 0% 50%;
    }
}


/*In case it doesnt load well*/
html {background-color: #AF63A3;
}

/*Sets the color and size of the whole web, makes the website smaller*/
body    {margin: .75em;
         border-top-left-radius: 1em;
         border-top-right-radius: 1em;
         border-bottom-left-radius: 1em;
         border-bottom-right-radius: 1em;
         background-color: #fff;
         font-family: sans-serif;
         overflow-x: clip;
}

/***HEADER***/
/*Here is where the header starts, contains the nav, title and logo*/
header  {height: 7em;
         background-color: #ffba00;
         display: flex;
         border-top-left-radius: .5em;
         border-top-right-radius: .5em;
         position: sticky;
         top: 0;
         z-index: 5;
         filter: blur(.025em);
}

.headerMemiliki25,
.headerMemiliki50   {width: 15%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
}

.headerMemiliki50   {width: 70%;
                     display: flex;
}

/*This is the website's title*/
h1  {width: 50%;
     line-height:3em;
     margin: auto;
     text-align: center;
     color: #000000;
     font-size: clamp(1em, 2em, 2.5em);
}

/*Beginning of the menu buttons*/
.menuForMemi {background: linear-gradient(138deg, #000000 15%, #001f2e 65%);
              position: relative;
              font-size: 17px;
              padding: 0.7em 0.7em;
              border-radius: 50px;
              box-shadow: 0 0.5rem 1rem #0000001a;
              transition: background 0.7s;
}
.menuForMemi:hover {background: linear-gradient(138deg, #ffffff 15%, #e6f7ff 65%);
}
.menuForMemi .menuIcon {display: flex;
                        align-items: center;
                        justify-content: center;
                        fill: #fff;
                        transition: all 0.5s;
}
.menuForMemi:hover .menuIcon {fill: #000000;
}

.nowVisibleMenu {display: flex;
                 animation: fadeIn 0.5s ease-in-out forwards;
}
.notVisibleMenu {display: flex;
                 animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from {opacity: 0;
    }
    to {opacity: 1;
    }
}

@keyframes fadeOut {
    from {opacity: 1;
    }
    to {opacity: 0;
    }
}

/*Beginning of the "services" button*/

.option1 {position: absolute;
          top: -46%;
          left: -28%;
          transform: translate(-50%, -5px);
          background: #fff;
          fill: #001722;
          padding: 10px;
          border-radius: 50px;
          transition: background 0.7s;
          z-index: 1;
          box-shadow: 0 2px 4px #00000033;
          align-items: center;
          justify-content: center;
}
.menuForMemi:hover .option1:hover {background: #001722;
                                   fill: #fff;
}
/*Ending of the "services" button*/


/*Beginning of the "Location" button*/
.option3 {position: absolute;
          top: 115%;
          left: -87%;
          transform: translateX(70%);
          background: #fff;
          fill: #001722;
          padding: 10px;
          border-radius: 50px;
          transition: background 0.7s;
          z-index: 1;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          align-items: center;
          justify-content: center;
}
.menuForMemi:hover .option3:hover {background: #3c4caa;
                                   fill: #fff;
}
/*Ending of the "location" button*/


/*Beginning of the "PrayerTimes" button*/
.option2 {position: absolute;
          top: 43%;
          left: -148%;
          transform: translateX(70%);
          background: #fff;
          fill: #001722;
          padding: 10px;
          border-radius: 50px;
          transition: background 0.7s;
          z-index: 1;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          align-items: center;
          justify-content: center;
}
.menuForMemi:hover .option2:hover {background: #096090;
                                   fill: #fff;
}
/*Ending of the "PrayerTimes" button*/


/*Beginning of the "usersGuide" button*/
.usersGuide {position: absolute;
             top: 113%;
             left: 6%;
             transform: translateX(70%);
             background: #fff;
             fill: #001722;
             padding: 10px;
             border-radius: 50px;
             transition: background 0.7s;
             z-index: 1;
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
             align-items: center;
             justify-content: center;
}
.menuForMemi:hover .usersGuide:hover {background: #ff4500;
                                      fill: #fff;
}
/*Beginning of the "usersGuide" button*/


/*Beginning of the "WhatsApp" button*/
.sendWA {position: absolute;
         top: 130%;
         left: -199%;
         transform: translateX(80%);
         background: #fff;
         fill: #001722;
         padding: 10px;
         border-radius: 50px;
         transition: background 0.7s;
         z-index: 1;
         box-shadow: 0 2px 4px #00000033;
         align-items: center;
         justify-content: center;
}
.menuForMemi:hover .sendWA:hover {background: #1db954;
                                  fill: #000000;
}
/*Ending of the "WhatsApp" button*/


/*Beginning of the "fixedButtons" button*/
.everyButton {position: absolute;
              top: 5%;
              left: 6%;
              width: 3em;
              height: 3em;
              z-index: -1;
}

/* .menuForMemi:hover .everyButton {
top: -110%;
opacity: 1;

border-radius: 50%;
z-index: -1;
} */

.container    {width: 3em;
               margin: auto;
               margin-top: 1em;
}
/*Ending of the menu buttons*/


/****Content****/
/*Here is where the content lays. Used flex for more responsive options*/
main    {display: flex;
         text-align: center;
         width: 100%;
         flex-direction: row;
         flex-wrap: wrap;
         align-content: center;
         justify-content: space-between;
         align-items: center;
         overflow-x: clip;
}

.mainyContainer {width: 100%;
                 height: 40em;
                 display: flex;
                 /* border: .1em #000 solid; */
                 background-image: url(../img/picc1.jpeg);
                 background-position: center;
                 background-position-y: 80%;
                 background-repeat: no-repeat;
                 background-size: 95em 75em;
                 flex-direction: column-reverse;
                 justify-content: center;
                 align-items: flex-start;
                 transition: background-image 1s ease-in-out;
}

/*Centers the text of the first div*/
.centeredText {width: 40%;
               height: 5em;
               border: .15em #000000 double;
               text-align: center;
               font-size: 1.35em;
               color: #fff;
}

.firstDiv {border-top-left-radius: 2em;
           /* border-top-right-radius: 2em; */
           /* border-bottom-left-radius: 2em; */
           border-bottom-right-radius: 2em;
           height: auto;
           padding-top: 2em;
           padding-bottom: 2em;
           background-image: linear-gradient(45deg, #202020, transparent);
           /* background-image: linear-gradient(to bottom right, #0267ff, #9a328a); */
}

.separationClassHR  {width: 85%;
                     border: 0.25em #777 solid;
                     border-top-left-radius: 2em;
                     border-top-right-radius: 2em;
}

/*Here lays the information about the certifikat and affiliations*/
.affilit,
.certifit  {width: 30em;
            height: auto;
            margin: auto;
            text-align: center;
            margin-bottom: 2.5em;
}

/*Design for the buttons used to display the information about the cert. and aff.*/
.buttonForDetails {
 display: inline-block;
 width: 10.5em;
 height: 4em;
 border-radius: .8em;
 border: .05em solid #03045e;
 background-color: #c7ffb9;
 position: relative;
 overflow: clip;
 transition: all 0.5s ease-in;
 z-index: 1;
}

.buttonForDetails::before,
.buttonForDetails::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: clip;
 z-index: -1;
}

.buttonForDetails::before {
 left: -.8em;
 background: #f00;
}

.buttonForDetails::after {
 right: -.8em;
 background: #fff;
}

.buttonForDetails:hover::before,
.buttonForDetails:hover::after {
 width: 58%;
}

.buttonForDetails:hover h2 {
 color: #ccb311;
 transition: 0.3s;
}

.buttonForDetails h2 {
 color: #03045e;
 font-size: 1.05em;
 transition: all 0.3s ease-in;
}

/*This is used for the img inside of the hidden divs containing the info mentioned before*/
.lilimg {
  display: none;
  width: 25em;
  height: 17em;
  margin: auto;
  transition: transform 0.6s, font-size 0.6s;
}

.lilfig {
  width: auto;
  height: 15em;
  margin: auto;
  border-radius: 0.75em;
}

figcaption {
  width: 100%;
  height: 1.5em;
  font-size: 1.2em;
}

@keyframes flipIn {
  from {
    transform: rotateY(360deg);
    font-size: 0.01em;
  }
  to {
    transform: rotateY(0deg);
    font-size: 1.2em;
  }
}

@keyframes flipOut {
  from {
    transform: rotateY(0deg);
    font-size: 1.2em;
  }
  to {
    transform: rotateY(360deg);
    font-size: 0.01em;
  }
}

.show {
  display: block;
  animation: flipIn 0.6s forwards;
}

.hide {
  display: block;
  animation: flipOut 0.6s forwards;
}


/*Here is where the info about the business starts, this is used in most part of the web*/
.memicontainerL,
.memicontainerR {display: flex;
                 width: 80%;
                 height: 30em;
                 margin: auto;
                 align-content: center;
                 flex-wrap: wrap;
                 justify-content: space-around;
                 font-size: 1.2em;
                 margin-bottom: .5em;
}

/*Splits the width at 50% for ever div so they can coexist at the same level, picture and info*/
.memiBox50L,
.memiBox50R     {width: 50%;
                 height: 30em;
}
.memiBox50L .lilimg,
.memiBox50R .lilimg   {width: 20em;
                       height: 20em;
                       margin: auto;
                       display: flex;
}

.memiBox50L .lilfig,
.memiBox50R .lilfig   {width: 20em;
                      height: 20em;
                      margin: auto;
                      border-top-left-radius: .75em;
                      border-top-right-radius: .75em;
                      border-bottom-left-radius: .75em;
                      border-bottom-right-radius: .75em;
}
.memiBox50L figcaption,
.memiBox50R figcaption    {width: 100%;
                           height: 1.5em;
                           position: relative;
                           top: -6em;
                           font-size: 1.2em;
}

.memibenefits  {width: 100%;
                height: 15em;
                margin: auto;
                text-align: justify;
                font-size: 1.5em;
}
.memibenefits h3    {width: 100%;
                     font-weight: bolder;
                     text-align: center;
}

.titleFC  {font-family: cursive;
           -webkit-text-stroke: .015em #ffdc21;
}

/*Section starts with the different services. Uses articles inside and can be copy/paste*/
section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 1.5em;
}
section h2 {
  width: 100%;
  text-align: center;
  font-size: clamp(1.2em, 1.5em, 2em);
  line-height: 2.5em;
  margin: auto;
}
article {
  width: 40%;
  height: 20em;
  margin: 1em 1em 1em 1em;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
}

/*Edits the imgs inside*/
.lilimgart {
  width: 20em;
  height: 17em;
  margin: auto;
}

/*Imgs used left and right, purpose was to add animations*/
.lilfigartL,
.lilfigartR {
  width: 20em;
  height: 15em;
  margin: auto;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  position: relative;
}

/* New classes for visibility control */
.memiH-l {
  opacity: 0;
  transform: translateX(-50em); /* For left elements */
}
#spanLilfig1 {position: relative;
              top: 0em;
              left: -20em;
              opacity: .75;
}
#spanLilfig2 {position: relative;
              top: 0em;
              left: -10.7em;
              opacity: .75;
}
#spanLilfig3 {position: relative;
              top: 17.7em;
              left: -22em;
              opacity: .75;
}

.memiH-r {
  opacity: 0;
  transform: translateX(50em); /* For right elements */
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s, opacity 2s;
}


.titleFCArticle     {font-family: cursive;
                     -webkit-text-stroke: .015em #000;
}


/*Start of the button for services*/
.shoppingButton {width: 100%;
                 display: flex;
                 margin-bottom: 1em;
                 justify-content: center;
                 align-items: center;
}

.leMoreS,
.leMoreS::after  {width: 10em;
                  height: 2.5em;
                  line-height: 2em;
                  font-size: 1.1em;
                  font-family: 'Bebas Neue', sans-serif;
                  background: linear-gradient(-78deg, transparent 5%, #f00 5%);
                  border: 0;
                  color: #fff;
                  letter-spacing: 3px;
                  box-shadow: 6px 0px 0px #dcdcdc;
                  outline: transparent;
                  position: relative;
                  user-select: none;
                  -webkit-user-select: none;
                  touch-action: manipulation;
}
  
  .leMoreS::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Pesan sekarang';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #353535 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

  .leMoreS:hover::after {
    animation: 2s glitch;
    animation-timing-function: steps(3, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }


/**Button to go top**/
#backToTopBtn {display: none; /* Hidden by default */
               position: fixed; /* Fixed/sticky position */
               bottom: 7em; /* Place the button at the bottom of the page */
               right: 2em; /* Place the button 30px from the right */
               z-index: 99; /* Make sure it does not overlap */
               outline: none; /* Remove outline */
               background-color: #31e200; /* Set a background color */
               color: white; /* Text color */
               padding: .6em; /* Some padding */
               border-radius: .75em; /* Rounded corners */
               font-size: .9em; /* Increase font size */
               cursor: url("../img/cur/ophthalmoscope_642.png"), pointer;
}

#backToTopBtn:hover {background-color: #007a76; /* Add a dark-grey background on hover */
}

/* Smooth scrolling */
html {scroll-behavior: smooth;
}
/**End of the Button to go top**/

/*Footer of the website*/
footer  {height: 7em;
         background-color: #ffffff;
         display: flex;
         border-top: .125em #000 solid;
         border-top-left-radius: 1.5em;
         border-top-right-radius: 1.5em;
         border-bottom-left-radius: .5em;
         border-bottom-right-radius: .5em;
         filter: blur(.025em);
}

.footerMemiliki25,
.footerMemiliki50   {width: 15%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
                     text-align: center;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;
}
.footerMemiliki50   {width: 70%;
}





/**Smaller devices**/

/****1024 or less****/
@media (max-width: 1024px) {

body  {overflow-x: clip;
}

.trail {display: none;
}

/***HEADER***/
/*Here is where the header starts, contains the nav, title and logo*/
header  {height: 5.5em;
         background-color: #ffba00;
         display: flex;
         border-top-left-radius: .5em;
         border-top-right-radius: .5em;
         position: sticky;
         top: 0;
         z-index: 5;
         filter: blur(.025em);
}

.headerMemiliki25,
.headerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
}
.headerMemiliki50   {width: 60%;
}

/*This is the website's title*/
h1  {width: 95%;
     line-height: 1em;
     margin: auto;
     font-size: 1.45em;
}


/****Content****/
/*Centers the text of the first div*/
.centeredText {width: 60%;
               font-size: 1em;
}

/*Here lays the information about the certifikat and affiliations*/
.affilit,
.certifit  {width: 22em;
}

.buttonForDetails h2 {font-size: .9em;
}

/*This is used for the img inside of the hidden divs containing the info mentioned before*/
.lilimg {width: 18em;
}

.lilfig {
  height: 11em;
}

/*Here is where the info about the business starts, this is used in most part of the web*/
.memicontainerL,
.memicontainerR {display: flex;
                 width: 90%;
                 height: 24em;
                 font-size: .8em;
                 margin-bottom: 0;
                 overflow-x: clip;
}

/*Splits the width at 50% for ever div so they can coexist at the same level, picture and info*/
.memiBox50L,
.memiBox50R     {width: 50%;
                 height: 24em;
}
.memiBox50L .lilimg,
.memiBox50R .lilimg   {width: 16.5em;
}

.memiBox50L .lilfig,
.memiBox50R .lilfig   {width: 16.5em;
                       height: 16.5em;
                       margin: auto;
}
.memiBox50L figcaption,
.memiBox50R figcaption    {width: 100%;
                           height: 1.5em;
                           position: relative;
                           top: -6em;
                           font-size: 1.2em;
}

.memibenefits  {width: 100%;
                height: 15em;
                margin: auto;
                text-align: justify;
                font-size: 1.2em;
}
.memibenefits h3    {width: 100%;
                     font-weight: bolder;
                     text-align: center;
}

.titleFC  {font-family: cursive;
           -webkit-text-stroke: .015em #ffdc21;
}
/****/

/*Section starts with the different services. Uses articles inside and can be copy/paste*/
section {
  width: 100%;
  height: auto;
  align-items: stretch;
  overflow-x: clip;
}
section h2 {font-size: 1em;
            line-height: 2.5em;
}
article {
  width: 40%;
  height: 15em;
  margin: 1em 1em 1em 1em;
}

/*Edits the imgs inside*/
.lilimgart {width: 10em;
            height: 10em;
}

/*Imgs used left and right, purpose was to add animations*/
.lilfigartL,
.lilfigartR {width: 10em;
             height: 10em;
}

/* New classes for visibility control */
.memiH-l {
  opacity: 0;
  transform: translateX(-50em); /* For left elements */
}
#spanLilfig1 {top: 4em;
              left: -12em;
}
#spanLilfig2 {top: 4em;
}
#spanLilfig3 {top: 13.7em;
              left: -18.5em;
}

.memiH-r {
  opacity: 0;
  transform: translateX(50em); /* For right elements */
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s, opacity 2s;
}


.titleFCArticle     {font-family: cursive;
                     -webkit-text-stroke: .015em #000;
}



/**Button to go top**/
#backToTopBtn {display: block;
               position: fixed; /* Fixed/sticky position */
               bottom: 7em; /* Place the button at the bottom of the page */
               right: 1em; /* Place the button 30px from the right */
}

#backToTopBtn:hover {background-color: #007a76; /* Add a dark-grey background on hover */
}

/* Smooth scrolling */
html {scroll-behavior: smooth;
}
/**End of the Button to go top**/

/*Footer of the website*/
footer  {height: 7em;
         background-color: #ffffff;
         display: flex;
         border-top: .125em #000 solid;
         border-bottom-left-radius: .5em;
         border-bottom-right-radius: .5em;
         filter: blur(.025em);
}

}
/****End of 1024 or less****/

/****768 or less****/
@media (max-width: 768px) {
body  {overflow-x: clip;
}

.trail {display: none;
}

/***HEADER***/
/*Here is where the header starts, contains the nav, title and logo*/
header  {height: 5.5em;
         background-color: #ffba00;
         display: flex;
         border-top-left-radius: .5em;
         border-top-right-radius: .5em;
         position: sticky;
         top: 0;
         z-index: 5;
         filter: blur(.025em);
}

.headerMemiliki25,
.headerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
}
.headerMemiliki50   {width: 60%;
}

/*This is the website's title*/
h1  {width: 95%;
     line-height: 1em;
     margin: auto;
     font-size: 1.3em;
}


/****Content****/
/*Centers the text of the first div*/
.centeredText {width: 60%;
               font-size: 1em;
}

/*Here lays the information about the certifikat and affiliations*/
.affilit,
.certifit  {width: 22em;
}

.buttonForDetails h2 {font-size: .9em;
}

/*This is used for the img inside of the hidden divs containing the info mentioned before*/
.lilimg {width: 18em;
}

.lilfig {
  height: 11em;
}

/*Here is where the info about the business starts, this is used in most part of the web*/
.memicontainerL,
.memicontainerR {display: flex;
                 width: 90%;
                 height: 24em;
                 font-size: .8em;
                 margin-bottom: 0;
                 overflow-x: clip;
}

/*Splits the width at 50% for ever div so they can coexist at the same level, picture and info*/
.memiBox50L,
.memiBox50R     {width: 50%;
                 height: 24em;
}
.memiBox50L .lilimg,
.memiBox50R .lilimg   {width: 14em;
}

.memiBox50L .lilfig,
.memiBox50R .lilfig   {width: 12em;
                      height: 12em;
                      margin: auto;
}
.memiBox50L figcaption,
.memiBox50R figcaption    {width: 100%;
                           height: 1.5em;
                           position: relative;
                           top: -6em;
                           font-size: 1.2em;
}

.memibenefits  {width: 100%;
                height: 15em;
                margin: auto;
                text-align: justify;
                font-size: 1.2em;
}
.memibenefits h3    {width: 100%;
                     font-weight: bolder;
                     text-align: center;
}

.titleFC  {font-family: cursive;
           -webkit-text-stroke: .015em #ffdc21;
}
/****/

/*Section starts with the different services. Uses articles inside and can be copy/paste*/
section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  overflow-x: clip;
}
section h2 {font-size: 1em;
            line-height: 2.5em;
}
article {
  width: 40%;
  height: 15em;
  margin: 1em 1em 1em 1em;
}

/*Edits the imgs inside*/
.lilimgart {width: 10em;
            height: 10em;
}

/*Imgs used left and right, purpose was to add animations*/
.lilfigartL,
.lilfigartR {width: 10em;
             height: 10em;
}

/* New classes for visibility control */
.memiH-l {
  opacity: 0;
  transform: translateX(-50em); /* For left elements */
}
#spanLilfig1 {top: 4em;
              left: -12em;
}
#spanLilfig2 {top: 4em;
}
#spanLilfig3 {top: 13.7em;
              left: -18.5em;
}

.memiH-r {
  opacity: 0;
  transform: translateX(50em); /* For right elements */
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s, opacity 2s;
}


.titleFCArticle     {font-family: cursive;
                     -webkit-text-stroke: .015em #000;
}



/**Button to go top**/
#backToTopBtn {display: block;
               position: fixed; /* Fixed/sticky position */
               bottom: 7em; /* Place the button at the bottom of the page */
               right: 1em; /* Place the button 30px from the right */
}

#backToTopBtn:hover {background-color: #007a76; /* Add a dark-grey background on hover */
}

/* Smooth scrolling */
html {scroll-behavior: smooth;
}
/**End of the Button to go top**/

/*Footer of the website*/
footer  {height: 7em;
         background-color: #ffffff;
         display: flex;
         border-top: .125em #000 solid;
         border-bottom-left-radius: .5em;
         border-bottom-right-radius: .5em;
         filter: blur(.025em);
}

.footerMemiliki25,
.footerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: .85em;
                     text-align: center;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;
}
.footerMemiliki50   {width: 60%;
}
}
/****End of 768px or less****/

/****500px or less****/
@media (max-width: 500px) {

.mainyContainer {background-size: 30em 75em;
                 flex-direction: column-reverse;
                 justify-content: flex-start;
                 align-items: flex-end;
}
}
/****End of 500px or less****/

/****400px or less****/
@media (max-width: 400px) {
/***HEADER***/
/*Here is where the header starts, contains the nav, title and logo*/
header  {height: 5em;
}

.headerMemiliki25,
.headerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
}
.headerMemiliki50   {width: 60%;
}

/*This is the website's title*/
h1  {width: 95%;
     line-height: 1em;
     margin: auto;
     font-size: 1.2em;
}

.container  {margin-top: .5em;
}

/****Content****/
/*Centers the text of the first div*/
.centeredText {width: 60%;
               font-size: 1em;
}

/*Here lays the information about the certifikat and affiliations*/
.affilit,
.certifit  {width: 22em;
}

.buttonForDetails h2 {font-size: .9em;
}

/*This is used for the img inside of the hidden divs containing the info mentioned before*/
.lilimg {width: 18em;
}

.lilfig {
  height: 11em;
}

/*Here is where the info about the business starts, this is used in most part of the web*/
.memicontainerL,
.memicontainerR {display: flex;
                 width: 95%;
                 height: 24em;
                 font-size: .8em;
                 margin-bottom: 0;
                 overflow-x: clip;
}

/*Splits the width at 50% for ever div so they can coexist at the same level, picture and info*/
.memiBox50L,
.memiBox50R     {width: 50%;
                 height: 24em;
}
.memiBox50L .lilimg,
.memiBox50R .lilimg   {width: 14em;
}

.memiBox50L .lilfig,
.memiBox50R .lilfig   {width: 12em;
                      height: 12em;
                      margin: auto;
}
.memiBox50L figcaption,
.memiBox50R figcaption    {width: 100%;
                           height: 1.5em;
                           position: relative;
                           top: -6em;
                           font-size: 1.2em;
}

.memibenefits  {width: 100%;
                height: 15em;
                margin: auto;
                text-align: justify;
                font-size: 1.2em;
}
.memibenefits h3    {width: 100%;
                     font-weight: bolder;
                     text-align: center;
}

.titleFC  {font-family: cursive;
           -webkit-text-stroke: .015em #ffdc21;
}
/****/

/*Section starts with the different services. Uses articles inside and can be copy/paste*/
section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  overflow-x: clip;
}
section h2 {font-size: 1em;
            line-height: 2.5em;
}
article {
  width: 35%;
  height: 12em;
  margin: 1em 1em 1em 1em;
}

/*Edits the imgs inside*/
.lilimgart {width: 7.5em;
            height: 7.5em;
}

/*Imgs used left and right, purpose was to add animations*/
.lilfigartL,
.lilfigartR {width: 7.5em;
             height: 7.5em;
}

figcaption  {font-size: .9em;
}

/* New classes for visibility control */
.memiH-l {
  opacity: 0;
  transform: translateX(-50em); /* For left elements */
}
#spanLilfig1 {top: 4em;
              left: -12em;
}
#spanLilfig2 {top: 4em;
}
#spanLilfig3 {top: 13.7em;
              left: -18.5em;
}

.memiH-r {
  opacity: 0;
  transform: translateX(50em); /* For right elements */
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s, opacity 2s;
}


.titleFCArticle     {font-family: cursive;
                     -webkit-text-stroke: .015em #000;
}



/**Button to go top**/
#backToTopBtn {display: block;
               position: fixed; /* Fixed/sticky position */
               bottom: 7em; /* Place the button at the bottom of the page */
               right: 1em; /* Place the button 30px from the right */
}

#backToTopBtn:hover {background-color: #007a76; /* Add a dark-grey background on hover */
}

/* Smooth scrolling */
html {scroll-behavior: smooth;
}
/**End of the Button to go top**/

/*Footer of the website*/
footer  {height: 7em;
         background-color: #ffffff;
         display: flex;
         border-top: .125em #000 solid;
         border-bottom-left-radius: .5em;
         border-bottom-right-radius: .5em;
         filter: blur(.025em);
}

.footerMemiliki25,
.footerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: .85em;
                     text-align: center;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;
}
.footerMemiliki50   {width: 60%;
}
}
/****End of 400px or less****/

/****399px or less****/
@media (min-width: 280px) and (max-width: 399px) {
/***HEADER***/
/*Here is where the header starts, contains the nav, title and logo*/
header  {height: 5em;
}

.headerMemiliki25,
.headerMemiliki50   {width: 20%;
                     height: auto;
                     margin: 0;
                     font-size: 1.2em;
}
.headerMemiliki50   {width: 60%;
}

/*This is the website's title*/
h1  {width: 95%;
     line-height: 1em;
     margin: auto;
     font-size: 1.2em;
}

.container  {margin-top: .5em;
}

/****Content****/
/*Centers the text of the first div*/
.centeredText {width: 60%;
               font-size: 1em;
}

/*Here lays the information about the certifikat and affiliations*/
.affilit,
.certifit  {width: 16em;
}

.buttonForDetails h2 {font-size: .9em;
}

/*This is used for the img inside of the hidden divs containing the info mentioned before*/
.lilimg {width: 12em;
}

.lilfig {
  height: 8em;
}

/*Here is where the info about the business starts, this is used in most part of the web*/
.memicontainerL,
.memicontainerR {display: flex;
                 width: 95%;
                 height: 17.5em;
                 font-size: .8em;
                 margin-bottom: 0;
                 overflow-x: clip;
}

/*Splits the width at 50% for ever div so they can coexist at the same level, picture and info*/
.memiBox50L,
.memiBox50R     {width: 45%;
                 height: 17.5em;
}
.memiBox50L .lilimg,
.memiBox50R .lilimg   {width: 8em;
                       height: 17.5em;
}

.memiBox50L .lilfig,
.memiBox50R .lilfig   {width: 8em;
                      height: 8em;
                      margin: auto;
}
.memiBox50L figcaption,
.memiBox50R figcaption    {width: 100%;
                           height: 1.5em;
                           position: relative;
                           top: -6em;
                           font-size: 1.1em;
}

.memibenefits  {width: 100%;
                height: 15em;
                margin: auto;
                text-align: justify;
                font-size: 1em;
}
.memibenefits h3    {width: 100%;
                     font-weight: bolder;
                     text-align: center;
}

.titleFC  {font-family: cursive;
           -webkit-text-stroke: .015em #ffdc21;
}
/****/

/*Section starts with the different services. Uses articles inside and can be copy/paste*/
section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  overflow-x: clip;
}
section h2 {font-size: 1em;
            line-height: 2.5em;
}
article {
  width: 35%;
  height: 10em;
  margin: 1em 1em 1em 1em;
}

/*Edits the imgs inside*/
.lilimgart {width: 5.5em;
            height: 6.5em;
}

/*Imgs used left and right, purpose was to add animations*/
.lilfigartL,
.lilfigartR {width: 5.5em;
             height: 6.5em;
}

figcaption  {font-size: .9em;
}

/* New classes for visibility control */
.memiH-l {
  opacity: 0;
  transform: translateX(-50em); /* For left elements */
}
#spanLilfig1 {top: 3em;
              left: -9em;
}
#spanLilfig2 {top: 11em;
}
#spanLilfig3 {top: 14.7em;
              left: -18.5em;
}

.memiH-r {
  opacity: 0;
  transform: translateX(50em); /* For right elements */
}

.visible {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s, opacity 2s;
}


.titleFCArticle     {font-family: cursive;
                     -webkit-text-stroke: .015em #000;
}



/**Button to go top**/
#backToTopBtn {display: block;
               position: fixed; /* Fixed/sticky position */
               bottom: 7em; /* Place the button at the bottom of the page */
               right: 1em; /* Place the button 30px from the right */
}

#backToTopBtn:hover {background-color: #007a76; /* Add a dark-grey background on hover */
}

/* Smooth scrolling */
html {scroll-behavior: smooth;
}
/**End of the Button to go top**/

/*Footer of the website*/
footer  {height: 6em;
}

.footerMemiliki25,
.footerMemiliki50   {width: 25%;
}
.footerMemiliki50   {width: 50%;
}
}
/****End of 399px or less****/
